body{
    background: #39a2a8;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --texto: #083a5f;
    --primario:#003e5d;
    --burbuja: #9addf0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
}

.contenedor{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
    margin: auto;
    background: #ffffff;
    height: 100vh;
    width: 45%;
}

.img_azul img{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.img_celeste img{
    position: absolute;
    left: 70px;
    width: 88%;
}

.logo{
    position: absolute;
    top: 65px;
    left: 70px;
    z-index: 10;
}

.titulo h1{
    color: var(--texto);
    width: 100%;
    font-size: 5em;
    position: absolute;
    left: 450px;
    top: 80px;
    z-index: 10;
    font-weight: bold;
}

.flechas img{
    height: 15px;
    position: absolute;
    top: 190px;
    left: 100px;
}

.info_flechas{
    background: var(--burbuja);
    width: 400px;
    height: 40px;
    position: absolute;
    top: 180px;
    right: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top: 9px;
    padding-left: 15px;
}

.p_uno{
    position: absolute;
    left: 30px;
}

.p_dos{
    position: absolute;
    right: 50px;
    top: 9px;
}

.semi_left img{
    position: absolute;
    top: 230px;
}

.text{
    position: absolute;
    top: 215px;
    left: 60px;
}

.text p{
    margin: 10px;
}

.r{
    font-weight: bold;
}

.lineas img{
    height: 40px;
}

.lineas{
    position: absolute;
    right: 80px;
    top: 280px;
}

.tabla{
    width: 700px;
    height: 100px;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

table{
    border-collapse: collapse ;
    width: 100%;
    height: 270px;
}

thead{
    background: var(--primario);
    color: #ffffff;
    border-radius: 100%;
    height: 40px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    
}

.qty{
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.si{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

tbody{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000;
}

.superior{
    border-top: solid #ffffff;
}

tr{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #575050;
}

.uno{
    color: #ffffff;
}

.azul_dos{
    width: 100%;
    position: absolute;
    z-index: -10;
    right: 0;
    bottom: 0;
}

.azul_dos img{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.celeste_dos{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.celeste_dos img{
    width: 88%;
    position: absolute;
    top: -157px;
    right: 60px;
    z-index: -100;
}

.semi_dos{
    position: absolute;
    right: 0;
    bottom: 300px;
}

.cuenta{
    font-size: 1.2em;
    width: 400px;
    height: 200px;
    position: absolute;
    bottom: 240px;
    right: -67px;
}

.sub{
    position: absolute;
    top: 100px;
    left: 70px;
}

.tax{
    position: absolute;
    bottom: 50px;
    left: 70px;
}

.pr_uno{
    position: absolute;
    right: 150px;
    bottom: 50px;
}

.pr_dos{
    position: absolute;
    top: 100px;
    right: 150px;
}

.total{
    width: 400px;
    height: 200px;
    font-size: 1.2em;
    position: absolute;
    bottom: 100px;
    right: -35px;
    font-size: 1.2;
}

.ttl_dos{
    position: absolute;
    left: 105px;
    top: 60px;
}

.pr_fnl{
    position: absolute;
    left: 218px;
    top: 60px;
}

.linea{
    background: black;
    position: absolute;
    left: 98px;
    top: 40px;
    width: 200px;
    height: 3px;
}

.linea_dos{
    background: #000;
    width: 200px;
    height: 3px;
    position: absolute;
    bottom: 220px;
    left: 70px;
}

.contacto{
    color: #ffffff;
    font-size: 1.2em;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 800px;
    right: -35px;
    padding-top: 75px;
    padding-left: 120px;
}

.autor{
    width: 200px;
    text-align: center;
    position: absolute;
    bottom: 170px;
    left: 70px;
}

.z{
    font-size: 1.52em;
    font-weight: bold;
}

.director{
    font-size: 1em;
}

.terminos{
    width: 200px;
    position: absolute;
    bottom: 320px;
    left: 65px;
}

.terminos h1{
    font-size: 20px;
}

.terminos p{
    position: absolute;
    font-size: 16px;
}